/* .App {
  padding: 30px;
}
.wrapTodolist{
  justify-content: space-between;
    margin-top: 30px;
    display: flex;
}
/* .App > div {
  margin-right: 50px;
} */
.mainInput{
    /* position: absolute; */
    /* top: 30px;
    bottom: 30px; */
} */
.todoList ul{
  list-style: none;
    padding: 0;
}
/* .todoList li>span{
  padding: 0 5%;
} */